.accountCard {
    border: 1px solid var(--color-gray-400);
    box-shadow: var(--shadow-sm);
    height: 100px;
    padding: 0.5rem;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

.positively {

}

.negative {
    border: 2px solid var(--color-error);
    color: var(--color-error);
    font-weight: bold;
    padding: 0.3rem;
    border-radius: var(--radius-sm);
}

.negative i,
.positively i {
    margin-right: 5px;
}