.header {
    background-color: var(--color-gray-300);
    box-shadow: var(--shadow-sm);
}

.logo {
    padding: var(--space-4);
}

.logo a {
    text-decoration: none;
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--space-2);
    color: var(--color-btn-primary-text);
    font-size: var(--font-size-xl);
}